<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href = "/css/main.css"/>
    <title>Lego Collection</title> 
</head>
<body>
  <%- include('partials/navbar', {page: '/about'}) %>

        <div class="container mx-auto">

            <div class="hero bg-base-200 rounded-lg p-6">
                <div class="hero-content text-center">
                    <div class="max-w-md">
                        <h1 class="text-5xl font-bold">About</h1>
                        <p class="py-6">This is the developers' profile</p>
                    </div>
                </div>
            </div>
            <br>
    
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    
              <div>
               <img class ="w-full rounded-lg" src = "condo3.jpg" alt="profile">
              </div>
    
              <div class="prose">
                <p>
                    My name is Eric Jo and I'm a second year student studying Computer Programming and Analysis.
                </p>
                <br>
                <p>
                    I'm passionate about a wide range of hobbies and constantly expanding my knowledge through various courses. 
                    When I'm not immersed in my studies, you'll often find me pursuing my favorite hobbies.
                    I have a deep love for programming, which allows me to think logically. 
                    Additionally, I find great satisfaction in reading, where I can get a variety of knowledge.
                </p>
              </div>
    
    
          </div>
    
        </div>
</body>

</html>